//Colourway
$background: hsl(55, 100%, 97%);
$text: #0F0F0F;

html,
body,
h1,
main,
button {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background-color: $background;
    color: $text;
    font-family: 'Manrope', sans-serif;
}

body,
h1 {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

h1 {
    font-weight: normal;
}