.break {
    margin-bottom: 25px;
}

.firstSelection,
.secondSelection {
    font-family: Times, serif;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.2em;
    display: inline-block;
    position: relative;
    user-select: none;
}

.formCheckInline {
    display: none;
}

.toggleLeft,
.toggleRight {
    cursor: pointer;
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
}

.toggleLeft {
    left: -30px;
}

.toggleRight {
    right: -30px;
}

.formCheckInline input[type="checkbox"] {
    display: none;
}

.vis {
    display: block;
    opacity: 1;
}

@media (max-width: 890px) {
    .firstSelection {
        position: absolute;
        bottom: 20px;
        left: 50px;
    }
    .secondSelection {
        position: absolute;
        bottom: 20px;
        right: 50px;   
    }
}